@charset "UTF-8";

@font-face {
    font-family: 'SabonLTStd-Italic';
    src: url('font/SabonLTStd-Italic/sabonltstd-italic.eot');
    src:  url('font/SabonLTStd-Italic/sabonltstd-italic.eot') format('embedded-opentype'),
    url('font/SabonLTStd-Italic/sabonltstd-italic.woff') format('woff'),
    url('font/SabonLTStd-Italic/sabonltstd-italic.ttf') format('truetype'),
    url('font/SabonLTStd-Italic/sabonltstd-italic.svg#SabonLTStd-italic') format('svg');
}

*{
    color:#666;
}



body{
    line-height:0.4;
    padding-top:13%;
    padding-left:20%;
    padding-bottom:5%;
    width: 100%;
}

p {
    font-family:'SabonLTStd-Italic';
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    cursor:default;
}
.nort{
    display:inline-block;
}

a{
    text-decoration:none;
    color:#000;
}

li {
    font-family: 'SabonLTStd-Italic';
    text-decoration:none;
}


.wrap p:nth-child(1){
    -ms-animation-duration:1s;
    -ms-animation-name:slidein;
    -moz-animation-duration:1s;
    -moz-animation-name:slidein;
    -webkit-animation-duration:1s;
    -webkit-animation-name:slidein;
}

.wrap p:nth-child(2){
    -ms-animation-duration:2s;
    -ms-animation-name:slidein;
    -moz-animation-duration:2s;
    -moz-animation-name:slidein;
    -webkit-animation-duration:2s;
    -webkit-animation-name:slidein;
}

.wrap p:nth-child(3){
    -ms-animation-duration:3s;
    -ms-animation-name:slidein;
    -moz-animation-duration:3s;
    -moz-animation-name:slidein;
    -webkit-animation-duration:3s;
    -webkit-animation-name:slidein;
}

.wrap p:nth-child(4){
    -ms-animation-duration:4s;
    -ms-animation-name:slidein;
    -moz-animation-duration:4s;
    -moz-animation-name:slidein;
    -webkit-animation-duration:4s;
    -webkit-animation-name:slidein;
}

.wrap p:nth-child(5){
    -ms-animation-duration:5s;
    -ms-animation-name:slidein;
    -moz-animation-duration:5s;
    -moz-animation-name:slidein;
    -webkit-animation-duration:5s;
    -webkit-animation-name:slidein;
}

.wrap p:nth-child(6){
    -ms-animation-duration:6s;
    -ms-animation-name:slidein;
    -moz-animation-duration:6s;
    -moz-animation-name:slidein;
    -webkit-animation-duration:6s;
    -webkit-animation-name:slidein;
}

.wrap p:nth-child(7){
    -ms-animation-duration:7s;
    -ms-animation-name:slidein;
    -moz-animation-duration:7s;
    -moz-animation-name:slidein;
    -webkit-animation-duration:7s;
    -webkit-animation-name:slidein;
}

.wrap p:nth-child(8){
    -ms-animation-duration:8s;
    -ms-animation-name:slidein;
    -moz-animation-duration:8s;
    -moz-animation-name:slidein;
    -webkit-animation-duration:8s;
    -webkit-animation-name:slidein;
}

.wrap p:nth-child(9){
    -ms-animation-duration:9s;
    -ms-animation-name:slidein;
    -moz-animation-duration:9s;
    -moz-animation-name:slidein;
    -webkit-animation-duration:9s;
    -webkit-animation-name:slidein;
}

.wrap p:nth-child(10){
    -ms-animation-duration:10s;
    -ms-animation-name:slidein;
    -moz-animation-duration:10s;
    -moz-animation-name:slidein;
    -webkit-animation-duration:10s;
    -webkit-animation-name:slidein;
}

.wrap p:nth-child(11){
    -ms-animation-duration:11s;
    -ms-animation-name:slidein;
    -moz-animation-duration:11s;
    -moz-animation-name:slidein;
    -webkit-animation-duration:11s;
    -webkit-animation-name:slidein;
}

.wrap p:nth-child(12){
    -ms-animation-duration:12s;
    -ms-animation-name:slidein;
    -moz-animation-duration:12s;
    -moz-animation-name:slidein;
    -webkit-animation-duration:12s;
    -webkit-animation-name:slidein;
}

.wrap p:nth-child(13){
    -ms-animation-duration:13s;
    -ms-animation-name:slidein;
    -moz-animation-duration:13s;
    -moz-animation-name:slidein;
    -webkit-animation-duration:13s;
    -webkit-animation-name:slidein;
}

.wrap p:nth-child(14){
    -ms-animation-duration:14s;
    -ms-animation-name:slidein;
    -moz-animation-duration:14s;
    -moz-animation-name:slidein;
    -webkit-animation-duration:14s;
    -webkit-animation-name:slidein;
}


.wrap p:nth-child(15){
    -ms-animation-duration:15s;
    -ms-animation-name:slidein;
    -moz-animation-duration:15s;
    -moz-animation-name:slidein;
    -webkit-animation-duration:15s;
    -webkit-animation-name:slidein;
}


.wrap p:nth-child(16){
    -ms-animation-duration:15s;
    -ms-animation-name:slidein;
    -moz-animation-duration:15s;
    -moz-animation-name:slidein;
    -webkit-animation-duration:15s;
    -webkit-animation-name:slidein;
}


.wrap p:nth-child(17){
    -ms-animation-duration:15s;
    -ms-animation-name:slidein;
    -moz-animation-duration:15s;
    -moz-animation-name:slidein;
    -webkit-animation-duration:15s;
    -webkit-animation-name:slidein;
}


.wrap p:nth-child(18){
    -ms-animation-duration:15s;
    -ms-animation-name:slidein;
    -moz-animation-duration:15s;
    -moz-animation-name:slidein;
    -webkit-animation-duration:15s;
    -webkit-animation-name:slidein;
}
.wrap p:nth-child(19){
    -ms-animation-duration:15s;
    -ms-animation-name:slidein;
    -moz-animation-duration:15s;
    -moz-animation-name:slidein;
    -webkit-animation-duration:15s;
    -webkit-animation-name:slidein;
}
.feedback{
    -ms-animation-duration:10s;
    -ms-animation-name:slidein;
    -moz-animation-duration:10s;
    -moz-animation-name:slidein;
    -webkit-animation-duration:10s;
    -webkit-animation-name:slidein;
}
.qestion{
    -ms-animation-duration:12s;
    -ms-animation-name:slidein;
    -moz-animation-duration:12s;
    -moz-animation-name:slidein;
    -webkit-animation-duration:12s;
    -webkit-animation-name:slidein;
}
nav {
    margin-left: -35px;
    -ms-animation-duration:15s;
    -ms-animation-name:slidein;
    -moz-animation-duration:15s;
    -moz-animation-name:slidein;
    -webkit-animation-duration:15s;
    -webkit-animation-name:slidein;
}


#nav_1{
    margin-left:5px;
    margin-top:20px;
}

nav li{
    margin-top:20px;
    display: inline-block;
    text-align:left;
}

nav li:last-child{
    margin-left:15px;
}

video {
    margin-top:-40px;
    margin-left: -100px;
    -webkit-animation-duration:0.5s;
    -webkit-animation-name:slidein;
}

#menu  {
    -ms-animation-duration:10s;
    -ms-animation-name:slidein;
    -moz-animation-duration:10s;
    -moz-animation-name:slidein;
    -webkit-animation-duration:10s;
    -webkit-animation-name:slidein;
    position:fixed;
    top: 380px;
}

#menu li {
    display: inline-block;
    margin-right:25px;
}

#retour{
    margin-left:3px;
    margin-top: 40px;
}


.nowrap .wrap:last-of-type{
    font-size:130%;
    margin-top: 40px;
    -ms-animation-duration:15s;
    -ms-animation-name:slidein;
    -moz-animation-duration:15s;
    -moz-animation-name:slidein;
    -webkit-animation-duration:15s;
    -webkit-animation-name:slidein;
}

span{
    font-size:130%;
}
select{
    font-family:'SabonLTStd-Italic';
    font-size:100%;
    border:none;
    color:#DE0112;
    margin-right:-20px;
    text-align:center;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    padding: 0 10px;
    cursor:pointer;

    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    cursor:default;
}
input{
    background-color:transparent;
    background-image:url(bouton/bouton.png);
    background-repeat:no-repeat;
    border:none;
    cursor:pointer;
}
@-ms-keyframes slidein{
    from {
        opacity:0;
    }

    to {
        opacity:1;
    }
}

@-moz-keyframes slidein{
    from {
        opacity:0;
    }

    to {
        opacity:1;
    }
}

@-webkit-keyframes slidein {
    from {
        opacity:0;
    }

    to {
        opacity:1;
    }
}


span{
    font-size:130%;
}

em{
    font-size:100%;
    color:#DE0112;
    text-decoration: none ;
}

.jouer{
    margin-top:50px;
}


img{
    border:0;
}
#bandeau{
    position: fixed;
    top: 0;
    background-image: url("sources/bandeau.png");
    background-repeat: repeat-x;
    width: 100%;
    height: 94px;
}